.banner-section{
  display: flex;
  justify-content: space-around;
  padding-top: 63px;
  width: 1200px;
  margin: 0 auto;
}
.banner-section .banner-content{
  display: flex;
  flex-direction:column;
  width: 500px;
}
.banner-section .banner-title{
  font-size: 46px;
  color: rgba(46,47,85,1);
  font-weight: 600;
}
.banner-section .banner-description{
  font-size:22px;
  color: rgba(46,47,85,1);
  padding: 27px 0;
}
.banner-section .banner-text{
  font-size: 20px;
  color: #999999;
  line-height: 34px;
}
.banner-section .banner-img{
  width: 510px;
  height: 420px;
}
.container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 65px;
}
.container .sub-title{
  font-size: 34px;
  color: #2E2F55;
}
.container .sub-description{
  font-size: 20px;
  color: #818182;
  padding: 19px 0 66px;
  font-family: monospace;
}




/* .path-section */
.path-section{
  padding-bottom: 122px;
}
.path-section .path-list{
  display: flex;
  justify-content: space-between;
}
.path-section .path-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 250px;
  box-shadow: 0px 2px 13px 0px rgba(46,47,85,0.15);
}
.path-item-img{
  width: 81px;
  height: 81px;
}
.path-section .path-item-title{
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  height: 64px;
  line-height: 64px;
}
.path-section .path-item-description{
  width: 215px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 22px;
  color: #999;
  font-family: -webkit-pictograph;
}



/* .communication-sectiom */
.communication-sectiom .communication-list{
  padding-top: 72px;
  position: relative;
}
.communication-sectiom .communication-item{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  padding-top: 60px;
}
.communication-item-content{
  width: 340px;
  text-align: left;
  line-height: 34px;
}
.communication-item-content .communication-item-subtitle{
  font-size: 24px;
  font-family: serif;
  font-weight: 600;
  padding: 20px 0;
}
.communication-item-content .communication-item-description{
  font-size: 18px;
  font-family: monospace;
  color: #999;
}
.communication-item-tag{
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: #6E81EB;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 48%;
  color: #fff;
  z-index: 2;
}
.communication-sectiom .communication-item.line{
  position: absolute;
  width: 2px;
  height: 1204px;
  background: #6E81EB;
  bottom: 261px;
  left: 603px;
}


/* .banner-section */
/* .expect-section {
  width: 1400px;
  margin: 0 auto;
}
.expect-section .expect-img{
  width: 100%;
} */
.expect-section {
  background: url(./../img/index_banner.png) no-repeat center;
  height: 250px;
  background-color: #394bcd;
}



/* .case-section */
.case-section{
  height:641px;
  background:linear-gradient(180deg,rgba(243,248,255,1) 0%,rgba(255,255,255,1) 100%);
}
.case-section .case-list{
  padding-top: 71px;
  display: flex;
  justify-content: space-between;
}
.case-section .case-item{
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 300px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 2px 13px 0px rgba(46,47,85,0.15);
}
.case-section .case-bitmap-img{
  width: 203px;
  height: 55px;
  padding: 47px 0 31px 40px;
}
.case-section .case-baidu-img{
  width: 379px;
  height: 53px;
  padding: 47px 0 31px 40px;
}
.case-section .case-item-description{
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 35px;
  text-align: left;
  color: #999;
  font-family: -webkit-pictograph;
}